* {
    font-size: 10px;
    font-family: "SF Pro", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: url("assets/wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* Toolbar */

header {
    background: rgb(75,79,68);
    border-bottom: 1px solid rgb(123,123,123);
    padding: 3px 12px;
}

header li {
    color: #fff;
    font-size: 12px;
}

.ui-widget.ui-widget-content {
    background: unset;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.hm_dropdown-menu-popup {
    background: rgba(246, 246, 246, 0.6) !important;
    backdrop-filter: blur(20px);
    padding: 5px 5px;
    border-radius: 6px;
    display: flex;
    flex-direction: column !important;
    gap: 6px !important;
    min-width: 200px;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0 0 1.5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 7 22px rgba(0, 0, 0, 0.25));
}

.hm_dropdown-menu-popup li {
    font-weight: 500;
    line-height: 16px;
    font-size: 13px;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.85) !important
}

.hm_dropdown-menu-popup hr {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: unset !important;
    padding: 2px 9px;
    margin: 0 5px !important;
}

/* Touchbar */

footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#touchbar {
    background: #ffffff88;
    box-shadow: #3f36363b 10px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    padding: 6px;
    gap: 6px;
}

.app-icon img {
    height: 7rem;
    width: 7rem;
    background: none;
}

#main {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    /* overflow: auto; */
}